Repository Lordpluha/GameBlog, pull requests merged in 2024-01, with the labels that each got.

#43 Feature/time is money
  client/package.json
  client/src/components/hooks/useModal.ts
  client/src/components/hooks/useTheme.tsx
  client/src/components/ui/Layout.tsx
  client/src/components/ui/TTheme.type.ts
  client/src/components/ui/header/Header.tsx
  client/src/components/ui/header/commentsBtn/CommentModal.tsx
  client/src/components/ui/header/commentsBtn/CommentsBtn.tsx
  client/src/components/ui/header/commentsBtn/CommentsItem/CommentItem.tsx
  client/src/components/ui/header/commentsBtn/commentsBtn.module.scss
  client/src/components/ui/header/header.module.scss
  client/src/components/ui/header/navbar/NavBar.tsx
  client/src/components/ui/header/navbar/navBar.module.scss
  client/src/components/ui/header/searchFormBtn/SearchFormBtn.tsx
  client/src/components/ui/header/searchFormBtn/SearchModal.tsx
  client/src/components/ui/header/searchFormBtn/SearchTags.tsx
  client/src/components/ui/header/searchFormBtn/searchFormBtn.module.scss
  client/src/components/ui/header/themeModeBtn/ThemeModeBtn.tsx
  client/src/components/ui/header/themeModeBtn/ThemeModeModal.tsx
  client/src/components/ui/header/themeModeBtn/btnIcon/MoonIcon.tsx
  client/src/components/ui/header/themeModeBtn/btnIcon/SunIcon.tsx
  client/src/components/ui/header/themeModeBtn/btnIcon/ThemeBtnIcon.tsx
  client/src/components/ui/header/themeModeBtn/themeModeBtn.module.scss
  client/src/components/ui/header/userAuthBtn/UserAuthBtn.tsx
  client/src/components/ui/header/userAuthBtn/UserAuthModal.tsx
  client/src/components/ui/header/userAuthBtn/userAuthBtn.module.scss
  client/src/components/ui/icons/GoogleIcon.tsx
  client/src/components/ui/icons/OkIcon.tsx
  client/src/components/ui/icons/VKIcon.tsx
  client/src/components/ui/icons/YandexIcon.tsx
  client/src/components/ui/interfaces/NewComments.interface.ts
  client/src/components/ui/lists/ArticleList/ArticleItem/ArticleItem.module.scss
  client/src/components/ui/lists/ArticleList/ArticleItem/ArticleItem.tsx
  client/src/components/ui/lists/CategoryLists/CategoryItem/CategoryItem.tsx
  client/src/components/ui/logo/Logo.tsx
  client/src/components/ui/logo/logo.module.scss
  client/src/components/ui/socialLinks/SocialLinksComponent.tsx
  client/src/main.tsx
  client/src/pages/HomePage.tsx
  client/src/routes/index.tsx
  client/src/styles/index.scss
  client/tailwind.config.js
  client/yarn.lock
Labels: feauture, front

#46 Feature/aliases
  client/.eslintrc.cjs
  client/package.json
  client/tsconfig.json
  client/yarn.lock
Labels: feauture, front

#39 Feature/sidebar
  client/package.json
  client/src/components/ui/interfaces/News.interface.ts
  client/src/components/ui/lists/NewsList/NewsList.tsx
  client/src/components/ui/lists/NewsList/news/News.tsx
Labels: feauture, front

#55 Feature/base subcategories
  nest-server/prisma/migrations/20240106112820_update_category_relations/migration.sql
  nest-server/prisma/migrations/20240106122847_add_level_category/migration.sql
  nest-server/prisma/schema.prisma
  nest-server/seeder/seed.ts
  nest-server/src/category/category.controller.ts
  nest-server/src/category/category.service.ts
  nest-server/src/category/constants/error.category.constants.ts
  nest-server/src/category/decorators/swagger.category.decorator.ts
  nest-server/src/category/dto/create-category.dto.ts
Labels: feauture, back/nest

#49 Feature/41 filter list
  .github/dependabot.yml
  layout/components/filterlist/css/all.css
  layout/components/filterlist/css/fonts.css
  layout/components/filterlist/index.html
  layout/components/filterlist/prepros.config
  layout/components/filterlist/sass/all.scss
  layout/components/filterlist/sass/global/_zer0.scss
  layout/components/filterlist/sass/partials/_filters.scss
  prepros.config
Labels: feauture, layout, pull request

#48 Feature/37 footer
  layout/components/Footer/css/all.css
  layout/components/Footer/css/fonts.css
  layout/components/Footer/images/icon-age.png
  layout/components/Footer/images/icon-logo.png
  layout/components/Footer/index.html
  layout/components/Footer/sass/all.scss
  layout/components/Footer/sass/global/_mixins.scss
  layout/components/Footer/sass/global/_styles.scss
  layout/components/Footer/sass/global/_zer0.scss
  layout/components/Footer/sass/partials/_footer.scss
Labels: feauture, layout, pull request

#62 Feauture/cashe manager
  nest-server/package.json
  nest-server/prisma/migrations/20240115202118_comment_model/migration.sql
  nest-server/prisma/schema.prisma
  nest-server/src/app.module.ts
  nest-server/src/article/article.controller.ts
  nest-server/src/article/article.module.ts
  nest-server/src/article/article.service.ts
  nest-server/src/article/dto/index.ts
  nest-server/src/article/swagger/decorators/index.ts
  nest-server/src/article/swagger/decorators/swagger.article.decorator.ts
  nest-server/src/article/swagger/return-article.swagger.dto.ts
  nest-server/src/auth/auth.controller.ts
  nest-server/src/auth/auth.module.ts
  nest-server/src/auth/auth.service.ts
  nest-server/src/auth/decorators/index.ts
  nest-server/src/auth/dto/index.ts
  nest-server/src/auth/strategies/index.ts
  nest-server/src/auth/strategies/jwt-access.strategy.ts
  nest-server/src/auth/swagger/decorators/index.ts
  nest-server/src/auth/swagger/decorators/swagger.auth.decorator.ts
  nest-server/src/auth/swagger/return-auth.swagger.dto.ts
  nest-server/src/auth/token.service.ts
  nest-server/src/blog/blog.controller.ts
  nest-server/src/blog/blog.module.ts
  nest-server/src/blog/blog.service.ts
  nest-server/src/blog/dto/index.ts
  nest-server/src/category/category.controller.ts
  nest-server/src/category/category.service.ts
  nest-server/src/category/dto/index.ts
  nest-server/src/category/swagger/decorators/index.ts
  nest-server/src/category/swagger/decorators/swagger.category.decorator.ts
  nest-server/src/category/swagger/return-category.swagger.dto.ts
  nest-server/src/comment/comment.controller.ts
  nest-server/src/comment/comment.module.ts
  nest-server/src/comment/comment.service.ts
  nest-server/src/comment/comment.type.enum.ts
  nest-server/src/comment/constants/error.constants.comment.ts
  nest-server/src/comment/dto/create-comment.dto.ts
  nest-server/src/comment/dto/index.ts
  nest-server/src/comment/dto/pagination.comment.dto.ts
  nest-server/src/comment/dto/update-comment.dto.ts
  nest-server/src/comment/swagger/decorators/index.ts
  nest-server/src/comment/swagger/decorators/swagger.comment.ts
  nest-server/src/comment/swagger/return-comment.swagger.ts
  nest-server/src/configs/cache-manager.env.ts
  nest-server/src/role/decorators/index.ts
  nest-server/src/tag/constants/error.constants.tag.ts
  nest-server/src/tag/dto/index.ts
  nest-server/src/tag/swagger/decorators/index.ts
  nest-server/src/tag/swagger/decorators/swagger.tag.decorator.ts
  nest-server/src/tag/swagger/return-tag.swagger.dto.ts
  nest-server/src/tag/tag.controller.ts
  nest-server/src/tag/tag.service.ts
  nest-server/src/user/decorators/index.ts
  nest-server/src/user/dto/index.ts
  nest-server/src/user/swagger/return-user.swagger.dto.ts
  nest-server/src/user/user.service.ts
  nest-server/yarn.lock
Labels: feauture, task, back/nest

#56 Feature/42-article
  CONTRIBUTING.md
  layout/components/article/css/all.css
  layout/components/article/css/fonts.css
  layout/components/article/index.html
  layout/components/article/sass/all.scss
  layout/components/article/sass/global/_mixins.scss
  layout/components/article/sass/global/_styles.scss
  layout/components/article/sass/global/_zer0.scss
  layout/components/article/sass/partials/_article.scss
Labels: feauture, layout, pull request

#65 Feauture/role closed #63
  nest-server/prisma/migrations/20240129133547_add/migration.sql
  nest-server/prisma/schema.prisma
  nest-server/src/app.module.ts
  nest-server/src/article/article.controller.ts
  nest-server/src/article/article.module.ts
  nest-server/src/article/article.service.ts
  nest-server/src/article/dto/pagination.article.dto.ts
  nest-server/src/article/dto/return-article.dto.ts
  nest-server/src/article/swagger/return-article.swagger.dto.ts
  nest-server/src/auth/auth.module.ts
  nest-server/src/auth/token.service.ts
  nest-server/src/blog/blog.module.ts
  nest-server/src/blog/blog.service.ts
  nest-server/src/category/category.module.ts
  nest-server/src/category/category.service.ts
  nest-server/src/comment/comment.controller.ts
  nest-server/src/comment/comment.module.ts
  nest-server/src/comment/comment.service.ts
  nest-server/src/comment/dto/create-comment.dto.ts
  nest-server/src/comment/swagger/decorators/index.ts
  nest-server/src/comment/swagger/decorators/swagger.comment.decorator.ts
  nest-server/src/comment/swagger/decorators/swagger.comment.ts
  nest-server/src/comment/swagger/return-comment.swagger.ts
  nest-server/src/database/prisma.module.ts
  nest-server/src/database/prisma.service.ts
  nest-server/src/tag/tag.module.ts
  nest-server/src/tag/tag.service.ts
  nest-server/src/user/dto/index.ts
  nest-server/src/user/dto/set-role.dto.ts
  nest-server/src/user/user.controller.ts
  nest-server/src/user/user.module.ts
  nest-server/src/user/user.service.ts
Labels: feauture, back/nest
