Repository Lordpluha/GameBlog, pull requests merged in 2024-02, with the labels that each got.

#67 Feature/db closed #66
  nest-server/.env.example
  nest-server/package.json
  nest-server/prisma/migrations/20231218171236_user/migration.sql
  nest-server/prisma/migrations/20231224144454_blog/migration.sql
  nest-server/prisma/migrations/20231225132217_blog/migration.sql
  nest-server/prisma/migrations/20231225140126_slug/migration.sql
  nest-server/prisma/migrations/20231225143322_add/migration.sql
  nest-server/prisma/migrations/20231227121606_category_article_tags/migration.sql
  nest-server/prisma/migrations/20231227200222_category/migration.sql
  nest-server/prisma/migrations/20231227200811_category_1/migration.sql
  nest-server/prisma/migrations/20231227200845_category_2/migration.sql
  nest-server/prisma/migrations/20231227222902_article_verif/migration.sql
  nest-server/prisma/migrations/20231228112349_role/migration.sql
  nest-server/prisma/migrations/20231228121639_implicit/migration.sql
  nest-server/prisma/migrations/20231228215045_many_to_many_article_tags/migration.sql
  nest-server/prisma/migrations/20231229212235_rename/migration.sql
  nest-server/prisma/migrations/20240106112820_update_category_relations/migration.sql
  nest-server/prisma/migrations/20240106122847_add_level_category/migration.sql
  nest-server/prisma/migrations/20240115202118_comment_model/migration.sql
  nest-server/prisma/migrations/20240129133547_add/migration.sql
  nest-server/prisma/migrations/20240202234431_init/migration.sql
  nest-server/prisma/migrations/20240202234915_enum_role/migration.sql
  nest-server/prisma/migrations/20240203125420_typecontent/migration.sql
  nest-server/prisma/migrations/20240203125836_update/migration.sql
  nest-server/prisma/migrations/migration_lock.toml
  nest-server/prisma/schema.prisma
  nest-server/src/article/article.service.ts
  nest-server/src/article/swagger/return-article.swagger.dto.ts
  nest-server/src/auth/auth.service.ts
  nest-server/src/auth/dto/jwt-generate.dto.ts
  nest-server/src/comment/comment.type.enum.ts
  nest-server/src/role/role.enum.ts
  nest-server/src/user/swagger/return-user.swagger.dto.ts
  nest-server/yarn.lock
Labels: feauture, back/nest

#70 Feature/40 aside
  layout/components/aside/css/all.css
  layout/components/aside/index.html
  layout/components/aside/scss/all.scss
  layout/components/aside/scss/global/_zer0.scss
  layout/components/aside/scss/partials/_aside.scss
Labels: feauture, task, layout

#75 Feature/38-header
  layout/components/Footer/css/all.css
  layout/components/Footer/sass/all.scss
  layout/components/Footer/sass/global/_mixins.scss
  layout/components/Footer/sass/global/_styles.scss
  layout/components/Footer/sass/partials/_footer.scss
  layout/components/Header/css/all.css
  layout/components/Header/images/google.png
  layout/components/Header/images/icon-logo.png
  layout/components/Header/index.html
  layout/components/Header/js/main.js
  layout/components/Header/sass/all.scss
  layout/components/Header/sass/global/_burger.scss
  layout/components/Header/sass/global/_comments.scss
  layout/components/Header/sass/global/_login.scss
  layout/components/Header/sass/global/_search.scss
  layout/components/Header/sass/global/_styles.scss
  layout/components/Header/sass/global/_theme.scss
  layout/components/Header/sass/partials/_header.scss
  layout/components/article/css/all.css
  layout/components/article/sass/all.scss
  layout/components/article/sass/global/_mixins.scss
  layout/components/article/sass/global/_styles.scss
  layout/components/article/sass/global/_zer0.scss
  layout/components/filterlist/css/all.css
  layout/components/filterlist/sass/all.scss
  layout/components/filterlist/sass/global/_zer0.scss
  layout/components/filterlist/sass/partials/_filters.scss
  layout/styles/_mixins.scss
  layout/styles/_zer0.scss
  layout/styles/mixins/_box.scss
  layout/styles/mixins/_captcha.scss
  layout/styles/mixins/_tooltip.scss
Labels: feauture, layout, pull request

#68 Feature/23 footer
  client/package.json
  client/public/icon-age.png
  client/src/features/AuthUser/ui/@UserAuthModal/@Socials/Socials.tsx
  client/src/features/AuthUser/ui/@UserAuthModal/UserAuthModal.module.scss
  client/src/features/AuthUser/ui/@UserAuthModal/UserAuthModal.tsx
  client/src/features/AuthUser/ui/UserAuthBtn.tsx
  client/src/features/ToggleComments/ui/@Comments/CommentsModal.module.scss
  client/src/features/ToggleComments/ui/@Comments/CommentsModal.tsx
  client/src/features/ToggleComments/ui/CommentsBtn.tsx
  client/src/features/ToggleSearch/ui/@SearchModal/SearchModal.module.scss
  client/src/features/ToggleSearch/ui/SearchBtn.tsx
  client/src/features/ToggleTheme/ui/@ThemeModal/ThemeModal.tsx
  client/src/features/ToggleTheme/ui/ThemeBtn.tsx
  client/src/pages/Layout.tsx
  client/src/shared/ui/icons/socials/Arrow.tsx
  client/src/shared/ui/icons/socials/Steam.tsx
  client/src/shared/ui/icons/socials/Telegram.tsx
  client/src/shared/ui/icons/socials/VK.tsx
  client/src/shared/ui/icons/socials/Youtube.tsx
  client/src/shared/ui/index.ts
  client/src/widgets/Footer/index.ts
  client/src/widgets/Footer/ui/@FooterIcons/FooterIcons.module.scss
  client/src/widgets/Footer/ui/@FooterIcons/FooterIcons.tsx
  client/src/widgets/Footer/ui/@Navigation/Navigation.module.scss
  client/src/widgets/Footer/ui/@Navigation/NavigationLeft.tsx
  client/src/widgets/Footer/ui/@Navigation/NavigationRight.tsx
  client/src/widgets/Footer/ui/Footer.module.scss
  client/src/widgets/Footer/ui/Footer.tsx
  client/src/widgets/Header/ui/@Navbar/NavBar.module.scss
  client/src/widgets/Header/ui/Header.module.scss
  client/yarn.lock
Labels: feauture, front, pull request
